#!/bin/sh
# Make sure this file is > 27 characters! A BUG in MacOS will otherwise
# prevent this from working as an app!!

# ERGO_BASE_FOLDER is replaced by sed in ergoAI_config.sh
# with the installation directory path
"ERGO_BASE_FOLDER/runErgoAI.sh"
