/*.P-miguel
/flrtesthook.flh
*.expiration.msg
/.installation.msg
*.*-old
/gdbrunflora
/MERGING
/logfile.txt
/winmakeergo.bat
/wincompile.bat
/wingpp.bat
/wingpp2.bat
/winmakeergo64.bat
/EXAMPLES-fidji
*.log
TODOs

*.P-new
/FEATURES

*/.ergo_aux_files/*
*/.flora_aux_files/*
/.ergoserv
.ergo_path*
 .fidjiXref
auto/
