/temp1
/tnf_old
/omni_old
/cranial_old
/compiletest_old
/loadudf_err_top_old
/depchecktest_old
/importloop_old
/sensortest_err_old
/sensortest_load_err_old
/symwarn_old
/textual_load_old
/descriptors_errtest_old
/delaytest2_old
/lt_old
/lt4_old
/lt5_old
/lt6_old
terminyzer*_floralog
/terminyzer_summary.flr
*.log
/terminyzer1_xsblog
/terminyzer2_xsblog
/in_old
/maxerr_old
/unicodetest_err_old
/descr2_old
*-sv
*.pl
*.*-notworking
